@use "../child/child" as *;

.l-privacy {
    &-mainVis {
        height: 525px;
        background-image: url(../img/privacyVis.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        &__text {
            position: absolute;
            top: 50%;
            left: 160px;
            transform: translateY(-50%);
            color: $MainCol;
            &--title {
                font-size: 6.4rem;
                line-height: 82px;
                vertical-align: bottom;
                font-weight: 900;
                letter-spacing: 2px;
            }
            &--sub {
                font-size: 2.4rem;
                &-span {
                    font-size: 1.6rem;
                }
            }
        }
    }
    &-bread {
        font-size: 1.6rem;
        font-weight: 900;
        margin: 75px 85px;
        &__list {
            display: flex;
            &--item {
                margin-right: 5px;
                text-shadow: 0 4px 3px rgba($color: $MainCol, $alpha: 0.25);
                &::after {
                    content: "-";
                }
                &:last-child::after {
                    content: "";
                }
            }
            &--black {
                color: $MainCol;
            }
        }
    }
    &__wrap {
        margin-bottom: 160px;
        font-size: 1.6rem;
        line-height: 1.5;
        &--mainTitle {
            flex: 3.2rem;
            margin-bottom: 30px;
        }
        &--title {
            line-height: 2;
            margin-bottom: 20px;
        }
        &--text {
            margin-bottom: 30px;
        }
        &--list {
            margin: 20px 0;
        }
        &--listItem {
            margin-bottom: 10px;
            margin-left: 40px;
            list-style-type: decimal;
        }
        &--table {
            margin-bottom: 30px;
        }
        &--tableTitle {
            text-align: right;
            &::after {
                content: "：";
            }
        }
        &--tableDesc {
            padding-left: 10px;
        }
        &--endText {
            text-align: right;
            margin-bottom: 160px;
        }
    }
}
