@charset "UTF-8";
@use "../../foundation" as *;

//============================
// splide
//============================
.p-splide {
    @include mq(pc) {
    }
}

.p-splide-inner {
    margin-top: 120px;
    @include mq(pc) {
    }
}

.p-splide-container {
    background-color: #fff;
    @include mq(pc) {
    }
}
.splide__pagination {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}
.splide__pagination li {
    height: 110px;
}
.c-page {
    display: inline-block;
    width: 100%;
    height: inherit;
    background-size: cover;
}
.p-splide-item {
    display: flex;
    align-items: flex-end;
    @include mq(pc) {
    }
}
@for $i from 1 through 5 {
    .splide__pagination li:nth-of-type(#{$i}) .c-page {
        background-image: url(../images/hotel#{$i}.jpg);
    }
}

.p-splide-item.is-show {
    @include mq(pc) {
    }
}

.p-splide-img {
    width: 70%;
    @include mq(pc) {
    }
}

.p-splide-cap {
    margin-left: -20%;
}

.p-splide-cap span {
    display: block;
    line-height: 1.8;
    padding: 40px;
    background-color: rgba(yellow, 0.5);
}
