@charset "UTF-8";
@use "../../foundation" as *;

//============================
// cars-card
//============================
.c-cars-card__item {
    max-width: rem(429);
    margin-inline: auto;
}
.c-cars-card__card {
    width: 100%;
}
.c-cars-card__card-img img {
    width: 100%;
    aspect-ratio: 429 / 242;
    border-radius: rem(10);
    object-fit: cover;

    @include mq(pc) {
        border-radius: rem(20);
    }
}
.c-cars-card__card-body {
    width: 100%;
    margin-top: rem(24);
}
.c-cars-card__card-title {
    font-weight: $medium;
    color: $c-black;
    line-height: calc(35 / 24);
    @include line-clamp(1);
    font-size: rem(20);

    @include mq(pc) {
        font-size: rem(24);
    }
}
.c-cars-card__card-dealer {
    width: 100%;
    color: $c-black;
    line-height: calc(19 / 16);
    padding-bottom: rem(24);
    border-bottom: 1px solid $c-gray;
    font-size: rem(14);

    @include mq(pc) {
        font-size: rem(16);
    }
}
.c-cars-card__card-dealer span {
    @include line-clamp(1);
}
.c-cars-card__card-btn-wrap {
    margin-top: rem(40);
    text-align: center;
}
@media (hover: hover) {
    .c-cars-card__card-link:hover,
    .c-cars-card__item:hover .c-cars-card__card-link,
    .c-cars-card__item:hover .c-btn__icon-arrow--invert {
        opacity: 1;
    }
}
