@use "../foundation" as *;

.l-inner {
    max-width: 480px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 20px;

    @include mq(pc) {
        max-width: $inner-width-lg;
        padding: 0 min(toVw(180), 180px);
    }

    &--s {
        @extend .l-inner;
        
        @include mq(pc) {
            padding: 0 min(toVw(240), 240px);
        }
    }
}
