.c-button {
  // コンポーネント本体には共通のスタイルのみ
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  // Modifierでスタイルを拡張
  &--primary {
    background-color: #1aa6e0;
  }
  &--secondary {
    background-color: #e0891a;
  }  
  &--full-width {
    width: 100%;
    display: block;
  }
  &--accent {
    background-color: #e01abb;
  }
}