@use "../../foundation" as *;

.c-sectionTitle {
    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 40px;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid $c-main;
    }

    &__title {
        display: block;

        &--en {
            font-size: 36px;
            letter-spacing: 0.3em;
            margin-bottom: 15px;
        }

        &--ja {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}
