@charset "UTF-8";
@use "../../foundation" as *;

// ================================================================
// c-btn
// ================================================================
.c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 60px;
    border-radius: 10px;

    background-image: url(../images/00_common/button-border.svg); // 複数指定可能！
    background-size: cover; // コンテナー内で可能な限り大きくなる。コンテナーに合わせて比率も変わる
    background-position: center;
    background-repeat: no-repeat;
}
.c-btn::after {
    content: url(../images/btn-arrow--black.svg);
    display: inline-block;
    transition: opacity 0.4s;
}
.c-btn__white-circle {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 40px;
    width: 24px;
    height: 24px;

    background-image: url(../images/00_common/icon-btn-circle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(10);
    opacity: 0;
    transition: transform 0.4s, opacity 0.3s;
}
.c-btn__arrow {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 40px;
    width: 24px;
    height: 24px;

    background-image: url(../images/00_common/icon-btn-arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(-20px) scale(0.65);
    opacity: 0;
    transition: transform 0.4s, opacity 0.1s ease-in;
}
.c-btn__text {
    display: inline-block;
    position: relative;
    z-index: 1;
    @include txt(14px, 400, $c-main, left);
    @include txt-option(1.428, 0px);
    font-family: $poppins;
    text-transform: uppercase;
    transition: transform 0.3s, color 0.3s;

    @include mq(pc) {
        font-size: 14px;
    }
}
.c-btn--white span {
    color: $c-white;
}
@media (hover: hover) {
    .c-btn:hover {
        opacity: 1;
    }
    .c-btn:hover:before {
        opacity: 1;
    }
    .c-btn:hover .c-btn__white-circle {
        opacity: 1;
        transform: scale(1);
    }
    .c-btn:hover .c-btn__arrow {
        opacity: 1;
        transform: translateX(0) scale(0.65);
    }
    .c-btn:hover .c-btn__text {
        color: #202020;
        transform: translateX(-20px);
    }
}
