@charset "UTF-8";
@use "../../foundation" as *;

// ================================================================
// c-scroll-down
// ================================================================
.c-scroll-down {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    overflow: hidden;
}
.c-scroll-down span {
    display: inline-block;
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 1px;
    height: 100%;
    background-color: $c-main;
    animation: scrollDown 2s ease-in infinite;
}
@keyframes scrollDown {
    0% {
        transform: translateY(-100%);
    }
    33% {
        transform: translateY(0);
    }
    66% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(200%);
    }
}
