@charset "UTF-8";
@use "../../foundation" as *;

// ================================================================
// text-gradation
// ================================================================
.c-text-gradation--to-right {
    background: linear-gradient(226.6deg, #1e365b 16.22%, #f8e8d5 84.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.c-text-gradation--to-left {
    background: linear-gradient(46.6deg, #1e365b 16.22%, #f8e8d5 84.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
