@charset "UTF-8";
@use "../../foundation" as *;

//============================
// home-point
//============================
.p-home-point {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-home-point__container {
    max-width: rem(480);
    width: 100%;
    padding-inline: $padding-sp;
    margin-top: rem(8);
    margin-inline: auto;

    @include mq(pc) {
        max-width: 100%;
        width: 100%;
        margin-top: rem(24);
        padding-inline: 0;
    }
}
.p-home-point__items {
    @include mq(pc) {
        max-width: rem($artboard);
        max-height: rem(480);
        width: 100%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
}
.p-home-point__item:nth-of-type(1) {
    background-image: url(../images/01_home/home-point01.jpg);
}
.p-home-point__item:nth-of-type(2) {
    background-image: url(../images/01_home/home-point02.jpg);
}
.p-home-point__item:nth-of-type(3) {
    background-image: url(../images/01_home/home-point03.jpg);
}
.p-home-point__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 rem(40) 0 0;
    aspect-ratio: 335 / 335;
    position: relative;
    z-index: 0;

    @include mq(pc) {
        aspect-ratio: 480 / 480;
    }
}
.p-home-point__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 rem(40) 0 0;

    @include mq(pc) {
        opacity: 0;
        transition: all 0.3s ease;
        background: rgba(0, 0, 0, 0.5);
    }
}
@media (hover: hover) {
    .p-home-point__item:hover .p-home-point__mask,
    .p-home-point__item:hover .p-home-point__card {
        opacity: 1;
    }
}
.p-home-point__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: rem(56);
    align-items: center;
    position: relative;
}
.p-home-point__title {
    font-size: rem(20);
    font-weight: $medium;
    color: $c-white;
    text-align: center;
    line-height: calc(29 / 20);
    position: absolute;
    z-index: 10;
    top: rem(56);
    right: 0;
    background-color: #283856;
    padding: rem(10) ;
    width: rem(280);
}
.p-home-point__text {
    font-size: rem(16);
    color: $c-white;
    line-height: calc(46 / 32);
    padding-bottom: rem(8);
    border-bottom: 1px solid $c-white;
}
.p-home-point__btn-wrap {
    margin-top: rem(80);
    text-align: center;
}
