@charset "UTF-8";
@use "../foundation" as *;

//============================
// footer
//============================
.l-footer {
    width: 100%;
    padding-block: rem(80);
    position: relative;
    height: auto;

    @include mq(pc) {
        height: rem(500);
    }
}
.l-footer__parallax {
    position: fixed;
    visibility: hidden;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url(../images/footer-bg-SP.jpg);
    background-position: center right 10%;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(pc) {
        height: rem(500);
        background-image: url(../images/footer-bg.jpg);
    }
}
.l-footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(pc) {
        flex-direction: row;
    }
}
.l-footer__site-title {
    font-size: rem(20);
    line-height: calc(29 / 20);
}
.l-footer__address {
    margin-top: rem(11);
    font-size: rem(16);
    color: #b9b9b9;
    line-height: calc(23 / 16);
}
.l-footer__tel {
    display: block;
    margin-top: rem(4);
    font-size: rem(16);
    color: #b9b9b9;
    line-height: calc(23 / 16);
}
.l-footer__instagram-logo {
    display: block;
    width: rem(32);
    height: rem(32);

    @include mq(pc) {
        margin-top: rem(24);
    }
}
.l-footer__instagram-logo-icon {
    display: inline-block;
    font-size: rem(32);
}
.l-footer__nav-items {
    margin-top: rem(40);
    font-size: rem(16);
    line-height: calc(23 / 16);

    @include mq(pc) {
        margin-top: 0;
        display: flex;
        gap: rem(24);
    }
}
.l-footer__nav-item--grid-contents {
    display: flex;
    margin-top: rem(24);
    gap: rem(32);

    @include mq(pc) {
        display: contents;
        margin-top: 0;
    }
}
.l-footer__nav-item--grid-contents:first-of-type {
    margin-top: 0;
}
.l-footer__copy {
    font-size: rem(14);
    line-height: calc(23 / 14);
    font-family: $gotu;
    color: #000;
    text-align: center;
    margin-top: rem(40);

    @include mq(pc) {
        margin-top: rem(171);
    }
}
.l-footer__btn-wrap {
    max-width: rem(480);
    width: 100%;
    margin-inline: auto;
    text-align: right;

    @include mq(pc) {
        margin-top: rem(-80);
        max-width: $inner + $padding-pc * 2;
        padding-inline: $padding-pc;
    }
}
