@charset "UTF-8";
@use "../foundation" as *;

//============================
// l-inner
//============================
.l-inner {
    width: 100%;
    height: 100%;
    padding-inline: $padding-sp;
    margin-inline: auto;
    @include mq(pc) {
        max-width: $inner + $padding-pc * 2;
        padding-inline: $padding-sp;
    }
}
