@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    height: 100vh;
    background-color: #ffffee;
}

span {
    display: inline-block;
}

.p-fv {
    height: inherit;
}

.p-fv__inner {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-inner {
    max-width: 600px;
    margin-inline: auto;
}

.p-fv__head {
    text-transform: uppercase;
    font-size: 12px;
}

.p-fv__container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.p-fv__left {
    position: relative;
    height: 400px;
    overflow: hidden;
    background-image: url(../images/fv-right-img02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-fv__left-img01 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-fv__left-img02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-fv__right {
    position: relative;
    height: 240px;
    overflow: hidden;
}

.p-fv__inner-r {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    height: 100%;
    overflow: hidden;
    margin-left: auto;
}

.p-fv__right-img01 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
    width: 180px;
    height: 100%;
    object-fit: cover;
}

.p-fv__right-img02 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
    width: 180px;
    height: 100%;
    object-fit: cover;
}

.p-fv__text {
    position: absolute;
    text-transform: capitalize;
    font-family: "Cormorant Garamond", serif;
    font-size: 72px;
    white-space: nowrap;
    text-align: center;
    line-height: 1;
    color: #eee;
}

.p-fv__text:nth-of-type(1) {
    top: -20%;
    right: 0;
    transform: translate(-50%, -50%);
    mix-blend-mode: color-burn;
    text-align: right;
}
.p-fv__text:nth-of-type(2) {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: color-burn;
}
.p-fv__text:nth-of-type(3) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    mix-blend-mode: plus-lighter;
}
