@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  /* リキッドレイアウト対応のための設定 */
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  position: relative;
}

body.is-fixed {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

input {
  margin: 0;
  padding: 0;
}

textarea {
  padding: 0;
  font: inherit;
  color: inherit;
}

button {
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

input,
textarea {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

*:focus {
  outline: none;
}

details summary {
  list-style: none;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

.l-main {
  background-color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(https://picsum.photos/id/43/1920/1080?grayscale);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container__left {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
}

.left__img {
  width: 9.375rem;
  height: 23.4375rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
}

.container__right {
  background-color: #333;
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2rem;
}

.right__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  width: 10rem;
}

.menu__header {
  color: #DC143C;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  line-height: 1;
  position: relative;
  --scaleX: 0;
}

.menu__header::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(var(--scaleX));
          transform: scaleX(var(--scaleX));
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu__header-en {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.menu__items {
  color: #fff;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 0.5rem;
}

.menu__item {
  overflow: hidden;
}

.menu__link {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn {
  position: absolute;
  z-index: 10;
  top: 5%;
  right: 5%;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.5625rem;
  background-color: #DC143C;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.375rem;
}

.btn__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.1875rem;
     -moz-column-gap: 0.1875rem;
          column-gap: 0.1875rem;
}

.btn__icon::after,
.btn__icon::before {
  content: "";
  display: inline-block;
  width: 0.1875rem;
  height: 0.1875rem;
  background-color: #fff;
  border-radius: 0.1875rem;
}

.btn__icon::after {
  width: 1rem;
}

.btn.is-active {
  background-color: #fff;
}

.btn.is-active .btn__icon::after,
.btn.is-active .btn__icon::before {
  background-color: #DC143C;
}

.u-hidden-mobile {
  display: none !important;
}

.u-block-hidden-mobile {
  display: none !important;
}

.u-grid-hidden-mobile {
  display: none !important;
}

.u-flex-hidden-mobile {
  display: none !important;
}

.u-hidden-pc {
  display: inline-block !important;
}

.u-block-hidden-pc {
  display: block !important;
}

.u-grid-hidden-pc {
  display: grid !important;
}

.u-flex-hidden-pc {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.u-hidden {
  visibility: hidden;
  display: none;
}

.u-color-invert {
  color: #333;
}

.u-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.u-fade-in-nonactive {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.u-fade-in-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.js-fade-in {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.4814814815vw;
  }

  a[href^="tel:"] {
    pointer-events: none;
  }

  .left__img {
    width: 12.5rem;
    height: 31.25rem;
  }

  .u-hidden-mobile {
    display: inline-block !important;
  }

  .u-block-hidden-mobile {
    display: block !important;
  }

  .u-grid-hidden-mobile {
    display: grid !important;
  }

  .u-flex-hidden-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .u-hidden-pc {
    display: none !important;
  }

  .u-block-hidden-pc {
    display: none !important;
  }

  .u-grid-hidden-pc {
    display: none !important;
  }

  .u-flex-hidden-pc {
    display: none !important;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 4.2780748663vw;
  }
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */