@charset "UTF-8";
@use "../../foundation" as *;

//============================
// Insurance & Compensation
//============================
.p-reservation-reservation {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-reservation-reservation .c-section-heading {
    @include mq(pc) {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: $padding-sp;
    }
}
.p-reservation-reservation__inner {
    position: relative;
}
.p-reservation-reservation__container {
    max-width: rem(800);
    width: 100%;
    margin-inline: auto;
    margin-top: rem(24);

    @include mq(pc) {
        margin-top: 0;
    }
}
.p-reservation-reservation__pagination {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
    gap: rem(8);

    @include mq(pc) {
        gap: rem(56);
    }
}
.p-reservation-reservation__pagination-num {
    font-family: $gotu;
    font-size: rem(16);
    line-height: calc(24 / 16);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(50);
    height: rem(50);
    border: 1px solid $c-gray;
    border-radius: 50%;

    @include mq(pc) {
        font-size: rem(24);
        width: rem(72);
        height: rem(72);
    }
}
.p-reservation-reservation__pagination-bar {
    display: inline-flex;
    width: rem(77);
    height: 1px;
    margin: auto;
    background-color: $c-gray;

    @include mq(pc) {
        width: rem(180);
    }
}
.p-reservation-reservation__pagination-num--black {
    color: $c-white;
    background-color: $c-gray;
}
.p-reservation-reservation__form {
    max-width: rem(660);
    width: 100%;
    margin-inline: auto;
    margin-top: rem(24);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-reservation-reservation__form-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(24);
    align-content: center;

    @include mq(pc) {
        gap: rem(80);
    }
}
.p-reservation-reservation__form-item {
    width: 100%;

    @include mq(pc) {
        display: grid;
        grid-template-columns: 1fr rem(500);
        align-items: center;
    }
}
.p-reservation-reservation__form-label {
    font-size: rem(16);
    line-height: calc(24 / 16);
}
.p-reservation-reservation__form-label--required::after {
    content: "※";
    margin-left: rem(8);
    font-size: rem(16);
    line-height: calc(24 / 16);
    color: #df4141;
}
.p-reservation-reservation__form-input {
    font-size: rem(16);
    font-family: $noto-sansJP;
    border: none;
    border-radius: rem(10);
    background-color: $c-white;
    width: 100%;
    height: rem(60);
    vertical-align: middle;
    margin-top: rem(8);
    padding-left: rem(24);
    color: $c-main-text;

    @include mq(pc) {
        margin-top: 0;
    }
}
.p-reservation-reservation__form-input::placeholder {
    color: #b9b9b9;
}
//============================
// 『Contact form 7』専用タグスタイル調整
//============================
.wpcf7-form-control-wrap {
    width: 100%;
    color: $c-main-text;
}
.wpcf7-form-control-wrap::placeholder {
    color: #b9b9b9;
}
.wpcf7-list-item {
    position: relative;
}
.wpcf7-list-item-label::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50%);
    left: 0.2em;
    width: rem(14);
    height: 4px;
    transform: rotate(-135deg);
    border-radius: 2px;
    background: #ffffff;
}
.wpcf7-list-item-label::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 0.6em;
    width: rem(20);
    height: 4px;
    transform: rotate(135deg);
    border-radius: 2px;
    background: #ffffff;
}
//============================
// 『Contact form 7』専用タグスタイル調整 ここまで
//============================
.p-reservation-reservation__form-rental {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: rem(16);
    width: rem(220);
    margin-inline: auto;

    @include mq(pc) {
        width: 100%;
        grid-template-columns: 1fr auto 1fr;
        gap: rem(22);
    }
}
.p-reservation-reservation__form-check {
    width: fit-content;
    text-align: center;
    margin-top: rem(44);
    margin-inline: auto;

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-reservation-reservation__form-checkbox {
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: rem(5);
    background-color: $c-white;
    width: rem(32);
    height: rem(32);
    margin-right: rem(24);
    position: relative;
}
.p-reservation-reservation__form-checkbox:checked {
    background-color: $c-main;
}
.p-reservation-reservation__btn-wrap {
    text-align: center;
    margin-top: rem(40);
}
.p-reservation-reservation__form-caption {
    text-align: center;
    margin-top: rem(16);
    font-size: rem(14);
    line-height: calc(20 / 14);
}
.p-reservation-reservation__btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mq(pc) {
        gap: rem(80);
    }
}
//============================
// reservation-confirm
//============================
.p-reservation-confirm__form {
    margin-top: rem(24);

    @include mq(pc) {
        margin-top: rem(74);
    }
}
.p-reservation-confirm__form-text {
    font-size: rem(16);
    line-height: calc(24 / 16);
    margin-bottom: rem(40);
}
.p-reservation-reservation__form-item--confirm {
    display: block;
    margin-top: rem(8);
    font-size: rem(16);
    line-height: calc(23 / 16);
    font-family: $noto-sansJP;

    @include mq(pc) {
        margin-top: 0;
    }
}
.p-reservation-confirm__form .p-reservation-reservation__form-rental {
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    margin-inline: 0 auto;
}
//============================
// reservation-thanks
//============================
.p-reservation-thanks__message {
    max-width: rem(660);
    width: 100%;
    margin-inline: auto;
    font-size: rem(16);
    line-height: calc(24 / 16);
    margin-top: rem(80);
    text-align: center;
}
