@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cube {
  width: 300px;
  height: 180px;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.surface {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: linear-gradient(225deg, rgb(57, 210, 248), rgb(48, 97, 96));
  border: 1px solid #333;
}

/* 共通スタイル -面の背景色と枠の内側の影- */
.top,
.front,
.back,
.bottom {
  width: 300px;
}

.right,
.left {
  width: 180px;
}

.top {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.front {
  -webkit-transform: translateZ(180px);
          transform: translateZ(180px);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.bottom {
  -webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateY(-90px) translateZ(90px);
          transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateY(-90px) translateZ(90px);
}

.right {
  -webkit-transform: rotateY(90deg) translateX(-90px) translateZ(210px);
          transform: rotateY(90deg) translateX(-90px) translateZ(210px);
}

.left {
  -webkit-transform: rotateY(-90deg) translateX(90px) translateY(0px) translateZ(90px);
          transform: rotateY(-90deg) translateX(90px) translateY(0px) translateZ(90px);
}

.cube__items {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  width: 300px;
  height: 180px;
  max-width: 1200px;
  padding-inline: 25px;
  margin-inline: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.cube-item__inner {
  background-color: orange;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cube__item {
  width: 300px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.cube__item:nth-of-type(1) {
  -webkit-transform: translate3d(-50%, -45%, 0px) scale(0.8);
          transform: translate3d(-50%, -45%, 0px) scale(0.8);
}

.cube__item:nth-of-type(2) {
  -webkit-transform: translate3d(-50%, -45%, 50px) scale(0.8);
          transform: translate3d(-50%, -45%, 50px) scale(0.8);
}

.cube__item:nth-of-type(3) {
  -webkit-transform: translate3d(-50%, -45%, 100px) scale(0.8);
          transform: translate3d(-50%, -45%, 100px) scale(0.8);
}

.cube__item:nth-of-type(4) {
  -webkit-transform: translate3d(-50%, -45%, 140px) scale(0.8);
          transform: translate3d(-50%, -45%, 140px) scale(0.8);
}
/*# sourceMappingURL=styles.css.map */