@charset "UTF-8";
@use "../../foundation" as *;

//============================
// home-slide
//============================
.p-home-slide {
    margin-top: rem(80);
    height: rem(291);
    overflow: hidden;
    position: relative;

    @include mq(pc) {
        margin-top: rem(120);
        height: rem(380);
    }
}
.p-home-slide__items {
    transform-style: preserve-3d;
    display: inline-flex;
    align-items: center;
    margin: auto;
    transform: translate3d(100vw, 0, 0);
    height: inherit;

    @include mq(pc) {
        height: 100%;
    }
}
.p-home-slide__img img {
    max-width: none;
    border-radius: rem(10);
    aspect-ratio: 345 / 194;
    position: absolute;
    transform: scale(0.75);

    @include mq(pc) {
        transform: scale(1);
    }
}
.p-home-slide__img:nth-of-type(1) img {
    width: rem(345);
    height: rem(194);
    bottom: 20%;
    animation: slideMobile 27s -3s linear infinite;

    @include mq(pc) {
        animation: slide 27s -3s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(2) img {
    width: rem(272);
    height: rem(153);
    top: 0;
    animation: slideMobile 25s -6s linear infinite;

    @include mq(pc) {
        animation: slide 25s -6s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(3) img {
    width: rem(305);
    height: rem(172);
    top: 15%;
    animation: slideMobile 24s -8s linear infinite;

    @include mq(pc) {
        animation: slide 24s -8s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(4) img {
    width: rem(223);
    height: rem(126);
    bottom: 5%;
    animation: slideMobile 28s -13s linear infinite;

    @include mq(pc) {
        animation: slide 28s -13s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(5) img {
    width: rem(182);
    height: rem(102);
    top: 5%;
    animation: slideMobile 26s -17s linear infinite;

    @include mq(pc) {
        animation: slide 26s -17s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(6) img {
    width: rem(272);
    height: rem(153);
    bottom: 0;
    animation: slideMobile 24s -20s linear infinite;

    @include mq(pc) {
        animation: slide 24s -20s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(7) img {
    width: rem(275);
    height: rem(154);
    top: 20%;
    animation: slideMobile 23s -17s linear infinite;

    @include mq(pc) {
        animation: slide 23s -17s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(8) img {
    width: rem(272);
    height: rem(153);
    top: 3%;
    animation: slideMobile 28s -25s linear infinite;

    @include mq(pc) {
        animation: slide 28s -25s linear infinite;
    }
}
.p-home-slide__img:nth-of-type(9) img {
    width: rem(243);
    height: rem(137);
    bottom: 10%;
    animation: slideMobile 25s -29s linear infinite;

    @include mq(pc) {
        animation: slide 25s -29s linear infinite;
    }
}

@keyframes slideMobile {
    100% {
        transform: translate3d(calc(-100vw - 100%), 0, 0) scale(0.75);
    }
}
@keyframes slide {
    100% {
        transform: translate3d(calc(-100vw - 100%), 0, 0) scale(1);
    }
}
