@charset "UTF-8";
@use "../../foundation" as *;

// ================================================================
// 404
// ================================================================
.c-404 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    font-weight: $regular;
}
.c-404__404 {
    font-size: rem(120);
    line-height: calc(120 / 80);
    font-family: $gotu;
}
.c-404__text {
    font-size: rem(16);
    line-height: calc(23 / 16);
}
