@charset "UTF-8";
@use "../../foundation" as *;


//============================
// c-index
//============================
.c-index {
    margin-top: rem(80);
    padding-bottom: rem(100);

    @include mq(pc) {
        margin-top: rem(120);
        padding-bottom: rem(120);
    }
}
.c-index__items {
    display: grid;
    grid-template-columns: repeat(2, rem(27) 1fr);
    row-gap: rem(40);

    @include mq(pc) {
        row-gap: rem(100);
    }
}
.c-index__item {
    display: contents;
}
.c-index__heading {
    font-family: $gotu;
    font-size: rem(16);
    line-height: calc(27 / 16);
    writing-mode: vertical-rl;
}
.c-index__link {
    display: block;
    text-align: center;
    max-width: rem(288);
    margin-inline: auto;
    padding: rem(16);
    border-radius: rem(20);
    transition: all 0.3s ease;

    @include mq(pc) {
        width: rem(288);
    }
}
.c-index__title {
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(23 / 16);
    color: #000;
    margin-top: rem(24);
    transition: all 0.3s ease;
}
.c-index__icon {
    display: inline-block;
    width: rem(88);
    height: rem(88);
    max-width: rem(128);
    margin-inline: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease;

    @include mq(pc) {
        width: rem(128);
        height: rem(128);
    }
}
.c-index__icon--guide {
    background-image: url(../images/00_common/index-icon-guide.svg);
}
.c-index__icon--insurance {
    background-image: url(../images/00_common/index-icon-insurance.svg);
}
.c-index__icon--faq {
    background-image: url(../images/00_common/index-icon-faq.svg);
}
.c-index__icon--key {
    background-image: url(../images/00_common/index-icon-key.svg);
}
@media (hover: hover) {
    .c-index__link:hover {
        background-color: $c-hover;
        opacity: 1;
    }
    .c-index__link:hover .c-index__title {
        color: $c-white;
    }
    .c-index__link:hover .c-index__icon--guide {
        background-image: url(../images/00_common/index-icon-guide-hover.svg);
    }
    .c-index__link:hover .c-index__icon--insurance {
        background-image: url(../images/00_common/index-icon-insurance-hover.svg);
    }
    .c-index__link:hover .c-index__icon--faq {
        background-image: url(../images/00_common/index-icon-faq-hover.svg);
    }
    .c-index__link:hover .c-index__icon--key {
        background-image: url(../images/00_common/index-icon-key-hover.svg);
    }
}
