@charset "UTF-8";
@use "../../foundation" as *;

// ================================================================
// c-hokkaido
// ================================================================
.c-hokkaido-bg {
    background-image: url(../images/00_common/hokkaido-SP.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;

    @include mq(pc) {
        background-image: url(../images/00_common/hokkaido.svg);
        background-size: 66%;
        background-position: left 0px top 57px;
    }
}
