@use "../../foundation" as *;

// ================================================================
// 汎用クラス
// ================================================================
// スマホだけ非表示
.u-hidden-mobile {
    display: none !important;

    @include mq(pc) {
        display: inline-block !important; // インライン要素
    }
}
.u-block-hidden-mobile {
    display: none !important;

    @include mq(pc) {
        display: block !important; // ブロック要素
    }
}
.u-grid-hidden-mobile {
    display: none !important;

    @include mq(pc) {
        display: grid !important; // グリッド要素
    }
}
.u-flex-hidden-mobile {
    display: none !important;

    @include mq(pc) {
        display: flex !important; // フレックス要素
    }
}

// PCだけ非表示
.u-hidden-pc {
    display: inline-block !important; // インライン要素

    @include mq(pc) {
        display: none !important;
    }
}
.u-block-hidden-pc {
    display: block !important; // ブロック要素

    @include mq(pc) {
        display: none !important;
    }
}
.u-grid-hidden-pc {
    display: grid !important; // グリッド要素

    @include mq(pc) {
        display: none !important;
    }
}
.u-flex-hidden-pc {
    display: flex !important; // フレックス要素

    @include mq(pc) {
        display: none !important;
    }
}

// 非表示
.u-hidden {
    display: none !important;
}

// 白反転
.u-color-invert {
    filter: brightness(0) invert(1);
}

// 表示
.u-visible {
    visibility: visible !important;
    opacity: 1 !important;
}

// bg-gray
.u-bg-gray{
    background-color: #4D4D4D;
}