@charset "UTF-8";
@use "../../foundation" as *;

//============================
// philosophy
//============================
.p-company-philosophy {
    margin-top: rem(80);
    // margin-right: rem(20);
    padding-block: rem(80);
    position: relative;
    z-index: 0;

    @include mq(pc) {
        margin-top: rem(120);
        // margin-right: min(toVw(180), 180px);
        //   padding-left: min(toVw(180), 180px);
    }
}
.p-company-philosophy__bg--left {
    background-color: $c-light-gray;
    width: 50%;
    height: rem(616);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;

    @include mq(pc) {
        height: rem(575);
    }
}
.p-company-philosophy__bg {
    max-width: rem(480);
    background-color: $c-light-gray;
    border-radius: 0 rem(40) rem(40) 0;
    top: 0;
    height: rem(616);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    position: absolute;
    z-index: -1;

    @include mq(pc) {
        height: rem(575);
        max-width: calc(rem(1260) / rem(1440) * 100%);
    }

    @include mq(xxl) {
        max-width: rem(1440);
    }
}
.p-company-philosophy__bg--en {
    height: rem(800);

    @include mq(pc) {
        height: rem(575);
    }
}
.p-company-philosophy__card {
    margin-top: rem(8);
    @include mq(pc) {
        margin-top: rem(24);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.p-company-philosophy__img {
    margin: 0;
    margin-right: rem(-20);

    @include mq(pc) {
        width: 100%;
    }
}
.p-company-philosophy__img img {
    width: 100%;
    border-radius: rem(20);
}
.p-company-philosophy__body {
    padding-inline: rem(16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(8);
    margin-bottom: rem(60);

    @include mq(pc) {
        padding-inline: rem(45);
        gap: rem(16);
        width: calc(rem(1260) / rem(1440) * 100%);
        margin-bottom: 0;
    }
}
.p-company-philosophy__head {
    font-size: rem(24);
    line-height: calc(35 / 24);
    margin-top: rem(40);

    @include mq(pc) {
        margin-top: 0;
    }
}
.p-company-philosophy__text {
    font-size: rem(16);
    line-height: calc(23 / 16);
}
.p-company-index {
    margin-top: rem(80);
    padding-bottom: rem(100);

    @include mq(pc) {
        margin-top: rem(120);
        padding-bottom: rem(120);
    }
}

//============================
// service
//============================
.p-company-service {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-company-service__inner {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    @include mq(pc) {
        flex-direction: row;
        gap: rem(113);
    }
}
.p-company-service__items {
    max-width: rem(800);
    width: 100%;
    border-top: 1px solid #b9b9b9;
}
.p-company-service__item {
    padding-block: rem(24);
    display: grid;
    align-items: center;
    gap: rem(24);
    border-bottom: 1px solid #b9b9b9;

    @include mq(pc) {
        grid-template-columns: repeat(2, 1fr);
        padding-block: rem(40);
        padding-inline: rem(20);
        flex-direction: row;
        gap: rem(40);
    }
}
.p-company-service__body {
    display: flex;
    flex-direction: column;
    gap: rem(8);
}
.p-company-service__head {
    font-size: rem(24);
    line-height: calc(35 / 24);
}
.p-company-service__text {
    font-size: rem(16);
    line-height: calc(24 / 16);
}
.p-company-service__img img {
    width: 100%;
    aspect-ratio: 360 / 202;
    border-radius: rem(10);
}

//============================
// company
//============================
.p-company-company {
    margin-top: rem(120);
}
.p-company-company__inner {
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @include mq(pc) {
        flex-direction: row;
        gap: 0;
    }
}
.p-company-company__info {
    max-width: rem(604);
    width: 100%;
    margin-inline: auto;

    @include mq(pc) {
        display: grid;
        column-gap: rem(40);
        grid-template-columns: rem(170) 1fr;
    }
}
.p-company-company__head {
    font-size: rem(16);
    line-height: calc(24 / 16);
    font-weight: $medium;
    padding-top: rem(32);

    @include mq(pc) {
        padding-block: rem(32);
        border-bottom: 1px solid #b9b9b9;
    }
}
.p-company-company__body {
    font-size: rem(16);
    line-height: calc(24 / 16);
    padding-bottom: rem(32);
    border-bottom: 1px solid #b9b9b9;

    @include mq(pc) {
        padding-block: rem(32);
    }
}
.p-company-company__head:nth-of-type(1) {
    border-top: 1px solid #b9b9b9;
}
.p-company-company__body:nth-of-type(1) {
    border-top: none;
    border-bottom: 1px solid #b9b9b9;
    @include mq(pc) {
        border-top: 1px solid #b9b9b9;
    }
}
