@charset "UTF-8";
@use "../../foundation" as *;

//============================
// Insurance & Compensation
//============================
.p-insurance-content {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-insurance-content__inner {
    display: flex;
    flex-direction: column;
    gap: rem(24);

    @include mq(pc) {
        flex-direction: row;
        gap: rem(40);
    }
}
.p-insurance-content__container {
    overflow-x: auto;
    width: 100%;

    @include mq(pc) {
        width: auto;
    }
}
.p-insurance-content__table {
    text-align: center;

    @include mq(pc) {
        width: 100%;
    }
}
.p-insurance-content__table:not(:first-of-type) {
    margin-top: rem(8);
    width: 100%;

    @include mq(pc) {
        margin-top: 0;
    }
}
.p-insurance-content__table tr:first-of-type th {
  min-width: rem(200);
}
.p-insurance-content__table tr:first-of-type td {
  min-width: rem(490);
}
.p-insurance-content__table th,
.p-insurance-content__table td {
  padding: rem(16);
    font-size: rem(16);
    line-height: calc(24 / 16);
    height: 100%;
    vertical-align: middle;
    border-top: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
}
.p-insurance-content__table tr {
    border-right: 1px solid #b9b9b9;
}
.p-insurance-content__table tr:not(:last-of-type) td {
    padding-block: rem(40);
}
.p-insurance-content__table tr:last-child th,
.p-insurance-content__table tr:last-child td {
    border-bottom: 1px solid #b9b9b9;
}
.p-insurance-content__poricy {
    background-color: $c-light-gray;
    font-size: rem(16);
    line-height: calc(24 / 16);
    text-align-last: left;
    padding-block: rem(24);
    padding-inline: rem(24);
}
.p-insurance-content__item {
    margin-top: rem(4);
}
.p-insurance-content__item-list {
    text-align-last: left;
    counter-reset: number 0;
}
.p-insurance-content__item-body {
    counter-increment: number 1;
    display: inline;
}
.p-insurance-content__item-body::before {
    content: "(" counter(number) ")";
}
