@charset "UTF-8";
@use "../../foundation" as *;

//============================
// cars-detail-fv
//============================
.p-cars-detail-fv {
    background-image: url(../images/07_cars-detail/cars-detail-fv-SP.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(600);
    max-height: rem(600);
    border-radius: 0 0 0 rem(40);

    @include mq(pc) {
        background-image: url(../images/07_cars-detail/cars-detail-fv.jpg);
        height: rem(600);
        border-radius: 0;
    }
}
.p-cars-detail-fv__inner {
    height: inherit;
    position: relative;
}
.p-cars-detail-fv__heading {
    font-size: rem(40);
    line-height: calc(66 / 40);
    font-family: $gotu;
    color: $c-white;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(rem(60));

    @include mq(pc) {
        font-size: min(toVw(80), 80px);
        line-height: calc(133 / 80);
    }
}

//============================
// cars-detail
//============================
.p-cars-detail-detail {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-cars-detail-detail__images-container {
    margin-top: rem(16);

    @include mq(pc) {
        margin-top: rem(98);
    }
}
.p-cars-detail-detail__main-img {
    margin: 0;
    width: 100%;
}
.p-cars-detail-detail__main-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
//============================
// JavaScript制御用
//============================
.js-cars-detail__main-img {
    display: none;
}
.js-cars-detail__main-img.is-show {
    display: block;
}
//============================
// JavaScript制御用ここまで
//============================
//============================
// Splide ページ送り▶
//============================
.splide__arrows.splide__arrows--ltr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: rem(24);
}
.splide__arrow--prev {
    left: rem(8);
}
.splide__arrow--next {
    right: rem(8);
}
.p-cars-detail-detail__images {
    margin: 0;
}
.p-cars-detail-detail__image {
    width: 100%;
}
.p-cars-detail-detail__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
//============================
// Splide ページ送り▶ ここまで
//============================

//============================
// cars-detail-specification
//============================
.p-cars-detail-specification {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-cars-detail-specification__inner {
    position: relative;
}
.p-cars-detail-specification__inner .c-section-heading {
    @include mq(pc) {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.p-cars-detail-specification__table {
    max-width: rem(800);
    width: 100%;
    margin-top: rem(17);
    margin-inline: auto;

    @include mq(pc) {
        margin-top: 0;
    }
}
.p-cars-detail-specification__table th {
    text-align-last: left;
    width: 100%;
    padding-left: rem(24);
    background-color: $c-light-gray;

    @include mq(pc) {
        text-align: center;
        width: rem(300);
    }
}
.p-cars-detail-specification__table td {
    padding-left: rem(24);
    width: 100%;

    @include mq(pc) {
        padding-left: rem(40);
        width: rem(500);
    }
}
.p-cars-detail-specification__table th,
.p-cars-detail-specification__table td {
    height: 100%;
    vertical-align: middle;
    padding-block: rem(19);
    border-top: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
}
.p-cars-detail-specification__table tr {
    border-right: 1px solid #b9b9b9;
    display: flex;
    flex-direction: column;

    @include mq(pc) {
        flex-direction: row;
    }
}
.p-cars-detail-specification__table tbody tr:last-child th,
.p-cars-detail-specification__table tbody tr:last-child td {
    border-bottom: 1px solid #b9b9b9;
}

//============================
// cars-detail-price
//============================
.p-cars-detail-price {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-cars-detail-price__inner {
    margin-top: rem(16);

    @include mq(pc) {
        margin-top: rem(40);
    }
}
.p-cars-detail-price__container {
    overflow-x: auto;
}
.p-cars-detail-price__table {
    margin-top: rem(24);
    text-align: center;
    position: relative;

    @include mq(pc) {
        margin-top: rem(40);
        width: 100%;
    }
}
.p-cars-detail-price__table:not(:first-of-type) {
    margin-top: rem(8);
    width: 100%;

    @include mq(pc) {
        margin-top: 0;
    }
}
.p-cars-detail-price__table th,
.p-cars-detail-price__table td {
    height: 100%;
    vertical-align: middle;
    padding-block: rem(16);
    min-width: rem(200);
    border-top: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
}
.p-cars-detail-price__table tr {
    border-right: 1px solid #b9b9b9;
}
.p-cars-detail-price__table tr:last-child th,
.p-cars-detail-price__table tr:last-child td {
    border-bottom: 1px solid #b9b9b9;
}

//============================
// cars-detail-others
//============================
.p-cars-detail-others {
    margin-top: rem(80);

    @include mq(pc) {
        margin-top: rem(120);
    }
}
.p-cars-detail-others__inner {
    margin-top: rem(16);

    @include mq(pc) {
        margin-top: rem(40);
    }
}
.cars-detail-others__items {
    margin-top: rem(8);
    display: grid;
    column-gap: rem(40);
    row-gap: rem(80);

    @include mq(pc) {
        grid-template-columns: repeat(3, 1fr);
        margin-top: rem(24);
    }
}
.cars-detail-others__btn-wrap {
    margin-top: rem(40);
    text-align: right;

    @include mq(pc) {
        margin-top: rem(80);
        text-align: center;
    }
}
